/* Scss Document */
$color-bg1:#FF9999;
$color-bg2:#99CCFF;
$color-bg3:#00CC99;
$velo-color:#C0C0C0;


.velo:hover{
	fill:$velo-color;
}

.veloimg:hover{
	filter: brightness(40%)
}

.bg-color1{
	
}
.bg-color2{
	background-color:$color-bg2 ;
	border: 1px solid #000;
	text-align: center;
	font-weight: 600;
}

.bg-color3{
	background-color:$color-bg3;
}

.bg-color4{
	background-color:#707269;
}