/* Scss Document */

$color-nav: #FFFFFF;
$color-nav-hover:#ff1303;
$yelow-hover:#FFC451;

.navbar-dark .navbar-nav .nav-link {
    color: $color-nav;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $color-nav-hover;
}

.btn-outline-success{
	color: $color-nav;
    border-color: $color-nav;
	
	&:hover {//вложенность
		color: $color-nav;
		background-color: $color-nav-hover;
		border-color: $color-nav-hover;
	}
}

/*1-я фоновая картинка с эфф-ом ПАРАЛЛАКС*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/bg-3.jpg") fixed center center;
  background-size: cover;
  position: relative;
 

	&:before{
		content: "";
		background: rgba(0,0,0,0.5);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;}
 

	& .container{
		position: relative;
		padding-top: 75px;
}
	


	& h1{
		margin: 0;
		font-size: 56px;
		font-weight: 700;
		line-height: 64px;
		color: $color-nav;
		font-family:  Roboto, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";

	}

	& h2{
		color: $color-nav;
		margin: 10px 0 0 0;
		font-size: 24px;
	}
	
	& .icon-box h3{
		font-weight: 700;
		margin-top: 10px;
		font-size: 20px;
		line-height: 26px;
		
		& a{
			color: $color-nav;
			text-decoration: none;
			&:hover{
				color:$color-nav-hover - #222;
			}
		}
	}
	

} // hero: stop

.icon-box{
	padding: 30px 20px;
	border: 1px solid $color-nav;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	&:hover{
		border-color: $color-nav - #222;
		box-shadow: 4px 5px 5px $color-nav;
	}
	
	& .h3_rovno{
		display: flex;
		margin-top: auto;
	}
}

@media (max-width: 1200px){
	.otstup-blok{
		margin-bottom: 20px;
	}
}


@media (max-width: 768px){
	.top-text-sport{
		margin-top: 40px;
	}
}

